<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Edit Product</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    </head>
    <body>

    <div class="bg-gradient-to-r from-blue-50 to-red-50 min-h-screen">
        <div class="flex h-screen">
            <div class="mt-50 bg-white p-8 rounded-lg m-auto w-2/5">
                <h2 class="text-4xl font-bold mb-6 text-center">Edit product</h2>
                <div class="px-8 text-center mb-4">
                    <a th:href="@{/product/list}">
                        <button class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded w-60 text-lg">Back</button>
                    </a>
                </div>
                <br>
                <form th:action="@{/product/editName(oldProductName=${product.productName})}" th:object="${throwAwayProduct}" method="post">
                    <label for="nameInput" class="block text-gray-700 text-md font-bold mb-2 text-left">Name</label>
                    <input th:field="${throwAwayProduct.productName}" type="text" class="w-4/5 px-3 py-2 border rounded-md mr-3" id="nameInput" th:placeholder="${product.productName}" required>
                    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md text-lg hover:bg-blue-600 w-1/6">Edit</button>
                </form>
                <br>
                <form th:action="@{/product/editQuantity(oldProductName=${product.productName})}" th:object="${throwAwayProduct}" method="post">
                    <label for="quantityInput" class="block text-gray-700 text-md font-bold mb-2 text-left">Quantity</label>
                    <input th:field="${throwAwayProduct.productQuantity}" type="text" class="w-4/5 px-3 py-2 border rounded-md mr-3" id="quantityInput" th:placeholder="${product.productQuantity}" required>
                    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md text-lg hover:bg-blue-600 w-1/6">Edit</button>
                </form>
            </div>
        </div>
    </div>
    </body>
</html>