<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pay Your Order</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>
<body>

<div class="bg-gradient-to-r from-blue-50 to-red-50 min-h-screen">
    <div class="flex h-screen">
        <div class="mt-45 bg-white p-8 rounded-lg m-auto">
            <h2 class="text-4xl font-bold mb-6 px-10">Pay your order</h2>
            <form th:action="@{/order/pay/${orderId}}" th:object="${payment}" method="post">
                <div class="mb-4">
                    <label for="method" class="block text-gray-700 text-md font-bold mb-2 text-left">Payment Method</label>
                    <input th:field="*{payment.method}" type="radio" id="voucherButton" name="method">
                    <label for="voucherButton" class="text-gray-700 text-md mb-2 pl-2 pr-16">Voucher</label>
                    <input th:field="*{payment.method}" type="radio" id="codButton" name="method">
                    <label for="codButton" class="text-gray-700 text-md mb-2 pl-2">Cash on Delivery</label>
                </div>
                <div th:switch="*{payment.method}">
                    <div th:case="'Voucher'" class="mb-8">
                        <label for="voucherCode" class="block text-gray-700 text-md font-bold mb-2 text-left">Voucher Code</label>
                        <input th:field="*{payment.paymentData.voucherCode}" type="text" id="voucherCodeInput" placeholder="Enter the voucher code" class="w-full px-3 py-2 border rounded-md" required>
                    </div>
                    <div th:case="'COD'" class="mb-8">
                        <label for="address" class="block text-gray-700 text-md font-bold mb-2 text-left">Address</label>
                        <input th:field="*{payment.paymentData.address}" type="text" id="addressInput" placeholder="Enter the address for delivery" class="w-full px-3 py-2 border rounded-md" required>
                    </div>
                </div>
                <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md text-lg hover:bg-blue-600 w-full" name="submit_button">Submit</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
